<div>
  <h2 id="page-heading" data-cy="AnswerLikesHeading">
    <span jhiTranslate="qandAPlatformApp.answerLikes.home.title">Answer Likes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="qandAPlatformApp.answerLikes.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-answer-likes"
        [routerLink]="['/answer-likes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="qandAPlatformApp.answerLikes.home.createLabel"> Create a new Answer Likes </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="answerLikes?.length === 0">
    <span jhiTranslate="qandAPlatformApp.answerLikes.home.notFound">No answerLikes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="answerLikes && answerLikes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="qandAPlatformApp.answerLikes.answers">Answers</span></th>
          <th scope="col"><span jhiTranslate="qandAPlatformApp.answerLikes.users">Users</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let answerLikes of answerLikes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/answer-likes', answerLikes.id, 'view']">{{ answerLikes.id }}</a>
          </td>
          <td>
            <div *ngIf="answerLikes.answers">
              <a [routerLink]="['/answers', answerLikes.answers?.id, 'view']">{{ answerLikes.answers?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="answerLikes.users">
              <a [routerLink]="['/users', answerLikes.users?.id, 'view']">{{ answerLikes.users?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/answer-likes', answerLikes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/answer-likes', answerLikes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(answerLikes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
