<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comments-heading" data-cy="CommentsCreateUpdateHeading" jhiTranslate="qandAPlatformApp.comments.home.createOrEditLabel">
        Create or edit a Comments
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="qandAPlatformApp.comments.text" for="field_text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="qandAPlatformApp.comments.users" for="field_users">Users</label>
          <select class="form-control" id="field_users" data-cy="users" name="users" formControlName="users">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usersOption.id === editForm.get('users')!.value?.id ? editForm.get('users')!.value : usersOption"
              *ngFor="let usersOption of usersSharedCollection; trackBy: trackUsersById"
            >
              {{ usersOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="qandAPlatformApp.comments.answers" for="field_answers">Answers</label>
          <select class="form-control" id="field_answers" data-cy="answers" name="answers" formControlName="answers">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="answersOption.id === editForm.get('answers')!.value?.id ? editForm.get('answers')!.value : answersOption"
              *ngFor="let answersOption of answersSharedCollection; trackBy: trackAnswersById"
            >
              {{ answersOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
