<div>
  <h2 id="page-heading" data-cy="CommentsHeading">
    <span jhiTranslate="qandAPlatformApp.comments.home.title">Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="qandAPlatformApp.comments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comments"
        [routerLink]="['/comments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="qandAPlatformApp.comments.home.createLabel"> Create a new Comments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
    <span jhiTranslate="qandAPlatformApp.comments.home.notFound">No comments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="comments && comments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="qandAPlatformApp.comments.text">Text</span></th>
          <th scope="col"><span jhiTranslate="qandAPlatformApp.comments.users">Users</span></th>
          <th scope="col"><span jhiTranslate="qandAPlatformApp.comments.answers">Answers</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comments of comments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comments', comments.id, 'view']">{{ comments.id }}</a>
          </td>
          <td>{{ comments.text }}</td>
          <td>
            <div *ngIf="comments.users">
              <a [routerLink]="['/users', comments.users?.id, 'view']">{{ comments.users?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comments.answers">
              <a [routerLink]="['/answers', comments.answers?.id, 'view']">{{ comments.answers?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comments', comments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comments', comments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(comments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
